<html>
    <head>
    <title> About </title>
    </head>
    <body>
        <h1>ABout</h1>
        <p>
        UserName : {{ user.username }}
        </p>
        <p>
        password : {{ user.password }}
        </p>
        
    </body>
</html>